@import "vars.scss";

/* COMPONENTS */
@import "components/hero.scss";
@import "components/skills.scss";
@import "components/projets.scss";
@import "components/team.scss";
@import "components/contact.scss";
@import "components/footer.scss";

/* TYPE */

h1 {
    font-family: "univia-pro", sans-serif;
    font-size: 3em !important;
}

h2 {
    font-family: "univia-pro", sans-serif;
}

/* GLOBAL STYLING */

body {
    //background-color: #fcfcfc;
}

ul {
    list-style: none !important;
}

.hidden {
    display: none !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.visble {
    display: visible !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.content {
    z-index: 1;
    background-color: #fff;
}

.wave {
    width: 10%;
    height: .5em;
    margin-left:4px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .35s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='#363636' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

.wrap-parallax {
    margin-bottom: 12em;
}

.fp-tooltip {
    color: #000 !important; 
}

/* BULMA OVERRIDES */

//.section {
//    margin-top: 6em;
//}

a {
    color: #000 !important;

    &:visited {
        color: #000 !important;
    }
}

.columns {
    margin-left: 0rem;
    margin-right: 0rem; 
    margin-top: 0rem; 
}

/* MEDIA QUERIES */

@media #{$desktop} {
    .section {
        height: 80vh;
        display: flex;
        align-items: center;
    }
}