$white      : #FFFFFF;
$darkgrey   : #363636;
$lightgrey  : #F3F6F6;

$main-font  : "Roboto", sans serif;

$mobile: "(max-width: 768px)";
$tablet: "(min-width: 769px)";
$desktop: "(min-width: 1000px)";
$widescreen: "(min-width: 1192px)";
$fullhd: "(min-width: 1384px)";