$green      : #04DCA2;
$white      : #FFFFFF;
$lightgrey  : darken(#FFF, 2%);
$grey       : #58595B;
$blue       : #09A8FA;
$red        : #FF5656;

$main-font  : "Roboto", sans serif;

$mobile: "(max-width: 768px)";
$tablet: "(min-width: 769px)";
$desktop: "(min-width: 1000px)";
$widescreen: "(min-width: 1192px)";
$fullhd: "(min-width: 1384px)";