@import "../vars.scss";

.contact {
    form {
        max-width: 70vw;
        width: 60%;
    }
    input {
        border-radius: 0px;
        border: 1px solid #000;
        width: 100%;
        padding: 1em;
    }
    textarea {
        border-radius: 0px;
        border: 1px solid #000;
        width: 100%;
        padding: 1em;
    }
}