@import "../vars.scss";

.logo-header {
    width: 65%;
}

.hero {
    height: 100vh;
    background-position-y: -2em;
    background-position-x: -2em;
    padding: 0;
}

.hero-wrap-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img {
    width: 100%;
    height: 90vh;
    display: flex;
    overflow:hidden;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    //padding:2em;

    .container {
        padding: 3em;
        width: auto;
    }
}

.container-logo {
    flex: 1;
    display: flex;
    flex-direction: column;

    
}

.push-left-5 {
    padding-left: 5%;
}

.arrow-scroll {
    position: absolute;
    left: calc(25% - 7.5px);
    bottom: 5%;
    max-width: 15px;
}

.symbol-hero {
    height: 30vh;
}

.logo-hero {
    width: 30%;
}

.title-hero {
    font-size: 4em;
    color: lighten(#000, 5%);
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    width: auto;
}

.nav {
     padding-bottom: 1em;
}

.nav-right {
    ul {
        display: inline-flex;
        justify-content: space-between;

        li {
            margin-right: 2em;
            font-family: "Montserrat", sans-serif;

            &:last-child {
                margin-right: 0em;
            }
        }
    }
}


@media #{$desktop} {
    .hero-body {
        padding-left: 3em;
        padding-right: 3em;
    }

    .hero-img {
        width: 50%;
        margin-right: 0;
    }
}
