@import "../vars.scss";
.title {
    text-transform: none !important;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.projets {
    padding: 0em !important;
    .title {
        margin-bottom: 2em !important;
    }
    .columns {
        max-width: 70vw;
        flex-wrap: wrap;
        align-items: stretch;
        .box {
            img {
                width: 70%;
                margin: 0 auto;
            }
        }
        .mutualab {
            .box {
                background-color: #7dce49!important;
            }
        }
        .norauto {
            .box {
                background-color: #26245a!important;
            }
        }
        .freelance {
            .box {
                background-color: #f66!important;
            }
        }
        .optimizme {
            .box {
                background-color: #ff8500!important;
            }
        }
        .box {
            height: 30vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px;
            box-shadow: none;
        }
        .tile {
            min-width: 40%;
            max-width: 100%;
            margin-bottom: 0em;
            transition: all 150ms ease-in-out;
        }
    }
}

.title-projets {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
}

.projets-wrap-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.project-showcase-container {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.projets-img {
    //width: 50%;
    height: 90vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg-projets.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}

.projets-content {
    flex: 1;
}

.projets-wrap {
    padding: 3em;
}

.center-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
}

.wrap-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
        margin-bottom: 1.2em;
        opacity: .5;
        transition: all 250ms ease-in-out;

        &:hover {
            opacity: 1;
        }

        &:last-child {
            margin-bottom: 0em;
        }
    }
}

// Projects specific styling

.project-showcase-container {
    p {
        margin-top: 1.2em;
    }
}

.container-projet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 250ms ease-in-out;
}

.logo-projet {
    width: 50%;
}

.btn-projet {
    padding: 15px 30px;
    border: 1px solid #000;
    margin-top: 1.5em;
    color: #000;
}

// Mutualab

.icon-mutualab {
    position: absolute;
    bottom: -50em;
    right: -25em;
    transform: rotate(-25deg);
}

// Freelance Connection

.detail-freelance {
    position: absolute;
    background-image: url('../svg/freelance-overlay.svg');
    background-color: #ff6666;
    height: 20em;
    width: 100%;
    bottom: -40em;
}

// Norauto

.detail-norauto {
    position: absolute;
    height: 20em;
    width: 100%;
    bottom: -40em;

    .norauto-yellow {
        background-color: #ffcd00;
        height: 4em;
        width: 100%;
    }
    .norauto-blue {
        background-color: #0b065e;
        height: 16em;
        width: 100%;
    }
}

// Optimizme

.detail-optimizme {
    position: absolute;
    height: 20em;
    width: 100%;
    bottom: -40em;

    .optimizme-orange {
        background-color: #ff8900;
        height: 12em;
        width: 100%;
    }
    .optimizme-grey {
        background-color: #333333;
        height: 6em;
        width: 100%;
    }
    .optimizme-lightgrey {
        background-color: #f2f2f2;
        height: 4em;
        width: 100%;
    }
}

@media #{$tablet} {
    .projets {
        .columns {
            max-width: 100vw;
        }
    }
}

@media #{$mobile} {
    .projets {
        .columns {
            max-width: 100vw;
        }
    }
}

@media #{$desktop} {
    .projets {
        .box {
            img {
                width: 50% !important;
            }
        }
    }
}
