@import "../vars.scss";
.skills {
    ul {
        margin-top: 5em;
        width: 96%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .separator {
            width: 1px;
            height: 150px;
            background-color: #000;
            opacity: .25;
        }
        li {
            flex: 1;
            margin-right: 5%;
            margin-bottom: 5%;
            min-width: 35%;
            .subtitle {
                color: #000;
                text-transform: none;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
            }
        }
    }
}

.skills-wrap-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.skills-img {
    //width: 50%;
    height: 90vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg-skills.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}

.skills-content {
    flex: 1;
}

.wrap-skills {
    padding: 2em;
}

.number-list {
    font-size: 3em;
    opacity: .2;
}

.list-text {
    font-size: 1em;
    text-transform: none;
}

.container_logo_corner_right {
    position: absolute;
    right: 2em;
    top: 4em;
    width: 3%;

    img {
        width: 100%;
        opacity: .2;
    }
}

.container_logo_corner_left {
    position: absolute;
    left: 2em;
    top: 4em;
    width: 3%;

    img {
        width: 100%;
        opacity: .2;
    }
}

@media #{$mobile} {
    .skills {
        ul {
            flex-direction: column;
            li {
                margin-bottom: 3em;
            }
        }
    }
}

@media #{$tablet} {
    .skills {
        ul {
            flex-direction: column;
        }
    }
}

@media #{$desktop} {
    .skills {
        ul {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
