@import "../vars.scss";
.skills {
    .list_expertise {
        margin-top: 5em;
        width: 96%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .separator {
            width: 1px;
            height: 150px;
            background-color: #000;
            opacity: .25;
        }
        li {
            flex: 1;
            margin-right: 5%;
            margin-bottom: 5%;
            min-width: 35%;
            .subtitle {
                color: #000;
                text-transform: none;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
            }
        }
    }
}

.skills-wrap-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.skills-img {
    height: 90vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg-skills.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}

.skills-content {
    flex: 1;
}

.wrap-skills {
    padding: 2em;
}

.number-list {
    font-size: 3em;
    opacity: .2;
}

.list-text {
    font-size: 1em;
    text-transform: none;
}

.container_logo_corner_right {
    position: absolute;
    z-index: 9999;
    right: 2em;
    top: 4em;
    width: 3%;
    transition: all 250ms ease-in-out;

    img {
        width: 100%;
        opacity: .2;
        transition: all 250ms ease-in-out;
    }

    &:hover {
        img {
            opacity: 1;
        }

        ul {
            opacity: 1;
        }
    }

    ul {
        position: absolute;
        top: 0;
        right: 4em;
        opacity: 0;
        transition: all 250ms ease-in-out;
    }
}

.nav_symbol {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;

    li {
        display: inline-flex;
        margin-top: 0 !important;
        margin-right: 25px;
        opacity: .5;
        transition: all 250ms ease-in-out;

        &:hover {
            opacity: 1;
        }

        &:first-child {
            margin-right: 0px;
        }
    }
}

/* MEDIA QUERIES */

@media #{$tablet} {
    .skills {
        .list_expertise {
            flex-direction: row;
        }
    }
}

@media #{$desktop} {
    .skills {
        .list_expertise {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

@media #{$mobile} {
    .skills {
        .list_expertise {
            flex-direction: column;
            li {
                margin-bottom: 3em;
            }
        }
        .title_section {
            margin-left: 0em;
        }
    }

    .wrap-skills {
        padding: 0;
    }
}
