@import "../vars.scss";
.team {
    .title_section {
        margin-bottom: 2em;
    }
    .columns {
        max-width: 100%;
        justify-content: space-between;
        flex-wrap:wrap;
        align-items: stretch;
        .column {
            max-width: 46%;

            .title {
                margin-bottom: .75em !important;
            }
        }
    }
}

.text-team {
    margin-top: 1.5em;
}

.container-team-pic {
    width: 100%;
    min-height: 15em;
    max-height: 25em;
    margin-bottom: 20px;
}

.martin {
    background-image: url('../img/martin-pic.jpg');
    background-size: cover;
}

.vincent {
    background-image: url('../img/vincent-pic.jpg');
    background-size: cover;
}

/* MEDIA QUERIES */


@media #{$tablet} {
    .team .columns .column {
        max-width: 90%;
        margin: 0 auto;
    }

    .team {
        margin-top: 5em;
        .title_section {
            margin-left: 2em;
        }
    }
}